.result-pane{
    -fx-background-color: #869bc2;
}

.logging_field{
    -fx-padding: 5 5 5 5;   
}

.actual_rate.table-cell{
    -fx-text-fill: #0eab28;
}

.predicted_rate.table-cell{
    -fx-text-fill: #ab280e;
}

.top_n_container{
    -fx-background-color: #b3c5e8;
}

.error_input{
    -fx-text-box-border: #f50000;
}

.mytableview .scroll-bar:vertical .track{
        -fx-padding:0px;
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
 
}
 
/* The increment and decrement button CSS class of scrollbar */
 
.mytableview .scroll-bar:vertical .increment-button ,
.mytableview .scroll-bar:vertical .decrement-button {
 
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 0 0;
}
 
.mytableview  .scroll-bar:vertical .increment-arrow,
.mytableview  .scroll-bar:vertical  .decrement-arrow
{
	-fx-shape: " ";	
	-fx-padding:0;        
}
 
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mytableview .scroll-bar:vertical .thumb {
    -fx-background-color:transparent;
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 2em;
    -fx-padding:0px;
 
}